.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  
}
.login__logo{
   margin-top: 20px;
   margin-bottom: 20px;
   object-fit: contain;
   width: 150px;
   margin-right: auto;
   margin-left: auto;
}
.login__container{
    display: flex;
    width: 300px;
    height: fit-content;
    flex-direction: column;
    border:1px solid black ;
    border-radius: 5px;
    padding: 20px;



}
.login__container>h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.login__signButton{
    width: 100%;
    border-radius: 2px;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(245, 175, 24);
    background-color: rgb(247, 214, 27);

}
.login__registerButton{
    width: 100%;
    border-radius: 2px;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(222, 223, 219);
    background-color: rgb(151, 150, 146);
}
.login__form>h4{
    margin-bottom: 0px;
    margin-top: 5px;

}
.login__form>input{
    height: 30px;
    margin-bottom: 0px;
    background-color: white;
    width: 98%;

}
.login__form>p{
    margin-top: 15px;
    font-size: 12px;
   
}
